@model WebApplication1.Models.UserReg

@{
    Layout = "_afterloginLayout";
}

<div class="py-5">
    <div class="container py-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 col-12">
                <div class="text-center text-white">
                    <h1 class="fw-bold display-1 text-white" data-aos="fade-up" data-aos-duration="500">Turning Dreams into Reality</h1>
                    <p class="py-3 lead text-whie-50 mb-0" data-aos="fade-up" data-aos-duration="600">
                        Welcome to Eventure, where we turn your moments into memorable experiences. Whether it’s a wedding, a birthday, a corporate event, or any celebration.
                    </p>
                    <div class="d-flex align-items-center gap-3 mt-4 mb-5 justify-content-center" data-aos="fade-right" data-aos-duration="600">
                        <a class="btn btn-primary rounded-0 btn-lg px-4" asp-controller="Home" asp-action="Contact">Book Now</a> <a class="btn btn-outline-primary rounded-0 btn-lg px-4" asp-controller="Home" asp-action="About">Read More</a>
                    </div>
                    <i class="ri-mouse-line ri-3x" data-aos="fade-up" data-aos-duration="600"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-white shadow p-5 mt-n4">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10 col-12">
                            <div class="text-center py-5">
                                <i class="ri-empathize-line display-1 text-primary"></i>
                                <h1 class="fw-bold mt-4 mb-0" data-aos="fade-up" data-aos-duration="600">Your Journey Begins Here</h1>
                                <p class="lead fw-normal pt-3 text-muted mb-0" data-aos="fade-up" data-aos-duration="700">
                                    Let us create unforgettable memories for your special moments. From planning to execution, we make every detail perfect.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 wedding">
                        <div class="col-lg-6" data-aos="fade-right" data-aos-duration="600">
                            <a href="~/img/wedding/img-1.jpg"> <img src="~/img/wedding/img-1.jpg" alt="wedding" class="img-fluid"> </a>
                        </div>
                        <div class="col-lg-6" data-aos="fade-left" data-aos-duration="700">
                            <a href="img/wedding/img-2.jpg"> <img src="~/img/eve12.jpg" alt="wedding" class="img-fluid mb-4"> </a>
                            <a href="img/wedding/img-3.jpg"> <img src="~/img/stories/eve8.webp" alt="wedding" class="img-fluid"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container py-5">
        <div class="row g-4 position-lg-relative">
            <div class="col-lg-5 col-12" data-aos="fade-up" data-aos-duration="600">
                <h1 class="fw-bold display-2 lh-sm">What Our Clients Are Saying</h1>
                <p class="py-3 lead">
                    Thank you for your kind words! We are thrilled to hear that you had a wonderful experience with Eventure. Our team is dedicated to providing top-notch service and making sure every detail is perfect.
                </p>
                <a class="link-primary" asp-controller="Home" asp-action="About">Read More<i class="ri-arrow-right-line ms-1"></i></a>
            </div>
            <div class="col-lg-3 col-12 pt-5" data-aos="flip-right" data-aos-duration="700">
                <img src="~/img/bride.jpg" alt="bride" class="img-fluid bride-img start-lg-40 position-lg-absolute">
            </div>
            <div class="col-lg-4 col-12">
                <div class="bg-primary text-white p-5">
                    <div class="ps-lg-5" data-aos="fade-left" data-aos-duration="700">
                        <h2 class="fw-bold pb-5 text-white">Choose a life partner not because you can merely live with them, but because you cannot imagine living without them</h2>
                        <img src="~/img/Signature.svg" alt="signature" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 bg-white">
    <div class="container py-5">
        <div class="row justify-content-center mb-5">
            <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                <div class="text-center" data-aos="fade-up" data-aos-duration="600">
                    <i class="ri-image-line display-2 text-primary"></i>
                    <h1 class="fw-bold">Photo Gallery</h1>
                    <p class="lead text-muted">Discover the memorable moments we've helped bring to life.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 gallery">
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-left" data-aos-duration="600">
                <a href="img/gallery/gallery-1.jpg"> <img src="~/img/eve8.jpg" alt="gallery" class="img-fluid"> </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-right" data-aos-duration="700">
                <a href="img/gallery/gallery-2.jpg"> <img src="~/img/eve11.jpeg" alt="gallery" class="img-fluid"> </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-left" data-aos-duration="700">
                <a href="img/gallery/gallery-3.jpg"> <img src="~/img/eve10.jpeg" alt="gallery" class="img-fluid"> </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-right" data-aos-duration="800">
                <a href="img/gallery/gallery-4.jpg"> <img src="~/img/eve15.jpeg" alt="gallery" class="img-fluid"> </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-left" data-aos-duration="800">
                <a href="img/gallery/gallery-5.jpg"> <img src="~/img/eve6.jpg" alt="gallery" style="height:100%;" class="img-fluid"> </a>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-right" data-aos-duration="900">
                <a href="img/gallery/gallery-6.jpg"> <img src="~/img/eve21.jpeg" alt="gallery" class="img-fluid"> </a>
            </div>
        </div>
    </div>
</div>

@* <div class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center mb-5">
            <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                <div class="text-center" data-aos="fade-up" data-aos-duration="600">
                    <i class="ri-price-tag-line display-2 text-primary"></i>
                    <h1 class="fw-bold">Pricing Plans</h1>
                    <p class="lead text-muted">Purus velit at volutpat sapien ullamcorper rhoncus.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 g-md-5">
            <div class="col-lg-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="700">
                <div class="card border-0 text-center rounded-0 shadow overflow-hidden p-5">
                    <div class="card-header bg-transparent border-0">
                        <h5 class="card-text">Standard</h5>
                        <h1 class="card-title fw-bolder display-2">$29</h1>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <ul class="list-unstyled d-grid gap-3 text-center">
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Interview the couple</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Preparation of budget</li>
                            <li class="text-secondary-emphasis"><i class="ri-close-fill ri-lg me-2"></i>Design the event</li>
                            <li class="text-secondary-emphasis"><i class="ri-close-fill ri-lg me-2"></i>Florist services</li>
                            <li class="text-secondary-emphasis"><i class="ri-close-fill ri-lg me-2"></i>Photoshoot</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="#" class="btn btn-primary rounded-0 btn-lg">GET STARTED</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                <div class="card border-0 text-center rounded-0 shadow overflow-hidden p-5">
                    <div class="card-header bg-transparent border-0">
                        <h5 class="card-text">Premium</h5>
                        <h1 class="card-title fw-bolder display-2">$59</h1>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <ul class="list-unstyled d-grid gap-3 text-center">
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Interview the couple</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Preparation of budget</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Design the event</li>
                            <li class="text-secondary-emphasis"><i class="ri-close-fill ri-lg me-2"></i>Florist services</li>
                            <li class="text-secondary-emphasis"><i class="ri-close-fill ri-lg me-2"></i>Photoshoot</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="#" class="btn btn-primary rounded-0 btn-lg">GET STARTED</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="900">
                <div class="card border-0 text-center rounded-0 shadow overflow-hidden p-5">
                    <div class="card-header bg-transparent border-0">
                        <h5 class="card-text">Platinum</h5>
                        <h1 class="card-title fw-bolder display-2">$89</h1>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <ul class="list-unstyled d-grid gap-3 text-center">
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Interview the couple</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Preparation of budget</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Design the event</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Florist services</li>
                            <li><i class="ri-check-line ri-lg text-primary me-2"></i>Photoshoot</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-0"><a href="#" class="btn btn-primary rounded-0 btn-lg">GET STARTED</a></div>
                </div>
            </div>
        </div>
    </div>
</div> *@



<div class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center mb-5">
            <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                <div class="text-center" data-aos="fade-up" data-aos-duration="600">
                    <i class="ri-hearts-line display-2 text-primary"></i>
                    <h1 class="fw-bold">The stories</h1>
                    <p class="lead text-muted">Every event has a story.</p>
                </div>
            </div>
        </div>
        <div class="row g-5 text-center">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up-right" data-aos-duration="600">
                <div class="card border-0 rounded-0 shadow h-100">
                    <img src="~/img/eve23.jpg" class="card-img-top rounded-0" alt="bride-groom">
                    <div class="card-body p-4">
                        <a href="#"> <h3 class="card-title pb-2">Birthday Ceremony</h3> </a>
                        <p class="card-text text-muted">Last weekend, we organized a chic and vibrant 21st birthday party for Emma, filled with laughter, dancing, and unforgettable memories.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-4 pb-4">
                        <a class="link-primary" asp-controller="Home" asp-action="Stories">Read More<i class="ri-arrow-right-line ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="flip-right" data-aos-duration="700">
                <div class="card border-0 rounded-0 shadow h-100">
                    <img src="~/img/eve24.jpg" class="card-img-top rounded-0" alt="bride-groom">
                    <div class="card-body p-4">
                        <a href="#"> <h3 class="card-title pb-2">Epic Celebrations</h3> </a>
                        <p class="card-text text-muted">
                            We recently had the honor of arranging a grand celebration for the Johnsons event. The venue was beautifully
                            decorated.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-4 pb-4">
                        <a class="link-primary" asp-controller="Home" asp-action="Stories">Read More<i class="ri-arrow-right-line ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up-left" data-aos-duration="800">
                <div class="card border-0 rounded-0 shadow h-100">
                    <img src="~/img/eve14.jpg" class="card-img-top rounded-0" style="height:100%;" alt="bride-groom">
                    <div class="card-body p-4">
                        <a href="#"> <h3 class="card-title pb-2">Corporative Event</h3> </a>
                        <p class="card-text text-muted">
                            Eventure successfully managed the annual corporate gala for TechCorp
                            . The event keynote speeches from industry leaders, interactive workshops.
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-4 pb-4">
                        <a class="link-primary" asp-controller="Home" asp-action="Stories">Read More<i class="ri-arrow-right-line ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 bg-white">
    <div class="container py-4">
        <div class="row align-items-center g-4">
            <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in" data-aos-duration="600">
                <img src="~/img/Hotel_Logo/logo.png" alt="brands" class="img-fluid w-50 d-block mx-auto">
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-out" data-aos-duration="700">
                <img src="~/img/Hotel_Logo/logo2.png" alt="brands" class="img-fluid w-50 d-block mx-auto">
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-in" data-aos-duration="800">
                <img src="~/img/Hotel_Logo/logo3.png" alt="brands" class="img-fluid w-50 d-block mx-auto">
            </div>
            <div class="col-lg-3 col-md-6 col-12" data-aos="zoom-out" data-aos-duration="900">
                <img src="~/img/Hotel_Logo/logo4.png" alt="brands" class="img-fluid w-50 d-block mx-auto">
            </div>
        </div>
    </div>
</div>

<div class="pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <div class="bg-white shadow p-5" style="margin-top:7%;">
                    <div class="text-center py-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-9 col-12">
                                <h1 class="fw-bold display-5 pb-5" data-aos="fade-up" data-aos-duration="600">Start Planning Your Dream Event Today</h1>
                                  <div class="d-flex align-items-center gap-3 mt-4 mb-5 justify-content-center" data-aos="fade-right" data-aos-duration="600">
                                    <a class="btn btn-primary rounded-0 btn-lg px-4" asp-controller="Home" asp-action="Contact">Contact Us</a> 
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


