@model WebApplication1.Models.UserContact
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var sessionValue = HttpContextAccessor.HttpContext.Session.GetString("session");

    if (!string.IsNullOrEmpty(sessionValue))
    {
        Layout = "_afterloginLayout";
    }
    else
    {
        Layout = "_frontendLayout";
    }
}



<div class="py-5">
    <div class="container py-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 col-12">
                <div class="text-center text-white">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb d-flex align-items-center justify-content-center gap-1 text-white" data-aos="fade-up" data-aos-duration="600">
                            <li class="breadcrumb-item small"><a asp-controller="Home" asp-action="Index" class="link-primary">HOME</a></li>
                            <li><i class="ri-arrow-right-s-line"></i></li>
                            <li class="breadcrumb-item text-white-50 small active" aria-current="page">CONTACT</li>
                        </ol>
                    </nav>
                    <h1 class="fw-bold display-1 text-white" data-aos="fade-up" data-aos-duration="600">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-white shadow p-5 mt-n4">
                    <div class="row justify-content-center g-4">
                        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in" data-aos-duration="600">
                            <div class="text-center">
                                <i class="ri-map-pin-2-line ri-3x text-primary"></i>
                                <div class="pt-2">
                                    <h5 class="fw-bold pb-2">Physical Address​</h5>
                                    <p class="mb-0">Orangi Town, Karachi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-out" data-aos-duration="700">
                            <div class="text-center">
                                <i class="ri-mail-line ri-3x text-primary"></i>
                                <div class="pt-2">
                                    <h5 class="fw-bold pb-2">Email Address</h5>
                                    <p class="mb-0">
                                        <a href="https://iamosahan.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f5908d9498859990b59298949c99db969a98">zahrazma01@gmail.com</a><br>
                                        <a href="https://iamosahan.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f79e999198b790969a9e9bd994989a">abdulbari2301f@aptechorangi.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in" data-aos-duration="800">
                            <div class="text-center">
                                <i class="ri-smartphone-line ri-3x text-primary"></i>
                                <div class="pt-2">
                                    <h5 class="fw-bold pb-2">Phone Numbers</h5>
                                    <p class="mb-0">
                                        +923112519750<br>
                                        +921234567890
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container py-5">
        <div class="row align-items-center g-0 bg-white shadow">
            <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-duration="600">
                <img src="~/img/lets-chat.jpg" alt="lets-chat" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12">
                <div class="p-5" data-aos="fade-left" data-aos-duration="700">
                    <h2 class="fw-bold pb-5">Contact Us</h2>

        <form asp-action="Contact" class="row g-4" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           @*  <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div> *@

                        <div class="col-12">
                            <input type="text" asp-for="Name" class="form-control border-0 rounded-0 border-bottom px-0" placeholder="Name" aria-label="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

        @*     <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> *@

                        <div class="col-12">
                            <input type="email" asp-for="Email" class="form-control border-0 rounded-0 border-bottom px-0" placeholder="Email" aria-label="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>



        @*     <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div> *@

              <div class="col-12">
                            <input type="text" asp-for="Address" class="form-control border-0 rounded-0 border-bottom px-0" placeholder="Address" aria-label="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>


           @*  <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div> *@

                        <div class="col-12">
                            <input type="number" asp-for="Number" class="form-control border-0 rounded-0 border-bottom px-0" placeholder="Contact" aria-label="Contact">
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div> 

                        <div class="col-12">
                            <input type="number" asp-for="Budget" class="form-control border-0 rounded-0 border-bottom px-0" placeholder="Budget" aria-label="Budget">
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>

                        @*   <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div> *@
                        <div class="col-12"><textarea asp-for="Message" class="form-control border-0 rounded-0 border-bottom px-0 mb-3" name="message" rows="6" placeholder="Message us to manage your event professionally"></textarea></div>
                        <span asp-validation-for="Message" class="text-danger"></span>
                        <div class="col-auto"><input type="submit" value="SEND MESSAGE" class="btn btn-dark btn-lg rounded-0" /> </div>
          
        </form>

                </div>
            </div>
        </div>
    </div>
</div>
